- resume = @site.config[:resume]
!!!
%html
  %head
    - title = resume[:contact][:name]
    - unless @item[:title].blank?
      - title = title + ' - ' + @item[:title] 
    %title= title
    %script{ :type => 'text/javascript', :src => '/javascripts/lib/jquery.min.js'}
    %script{ :type => 'text/javascript', :src => '/javascripts/app.min.js'}
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  %body
    .hresume
      #header.vcard.contact
        #contact
          - unless resume[:contact][:tel].blank?
            %span.tel= resume[:contact][:tel]
          - unless resume[:contact][:email].blank?
            %a.email{ :href => "mailto:#{resume[:contact][:email]}" }<
              = resume[:contact][:email]

          %address.adr<
            - unless resume[:contact][:address].blank?
              - address = resume[:contact][:address]
            - unless address[:"street-address"].blank?
              %span.street-address= address[:"street-address"]
            - unless address[:"extended-address"].blank?
              %span.extended-address<
                = address[:"extended-address"]+" "
                - unless address[:"post-office-box"].blank?
                  %span.post-office-box>= address[:"post-office-box"]
            - unless address[:locality].blank?
              %span.locality>= address[:locality]
              , 
            - unless address[:region].blank?
              %span.region>= address[:region]+" "
            - unless address[:"postal-code"].blank?
              %span.postal-code= address[:"postal-code"]+" "
            - unless address[:"country-name"].blank?
              %span.country-name= address[:"country-name"]
        #me
          %h1.fn#full-name<
            = resume[:contact][:name]
          %h2.role<
            = resume[:contact][:role]
      = yield
    