.subsection{:class=>" #{ type.to_permalink } #{ type == ('experience' or 'education') ? 'vevent' : '' }"}
  - unless subsection[:title].blank?
    - if type == 'experience'
      .vcard
        %h3.title
          = subsection[:title]
        %a{ :href=>"#full-name", :class=>'include'}
    - else
      %h3.title= subsection[:title]
    
  - unless (subsection[:duration].blank? || subsection[:duration][:start].blank?) && subsection[:company].blank? && subsection[:location].blank? && subsection[:url].blank?
    %ul.experienceHdr
      - unless subsection[:duration].blank?
        %li.year<
          - unless subsection[:duration][:start].blank?
            %abbr.dtstart{ :title => subsection[:duration][:start] }>= subsection[:duration][:start].year
          - unless subsection[:duration][:start].year == Time.now.year
            - if subsection[:duration][:end].blank?
              - subsection[:duration][:end] = Time.now
            &mdash;
            %abbr.dtend{ :title => subsection[:duration][:end] }>= subsection[:duration][:end].year
      - unless subsection[:company].blank?
        %li.org= h(subsection[:company])
      - unless subsection[:address].blank?
        - unless subsection[:address][:locality].blank?
          %li.location= "#{subsection[:address][:locality]}, #{subsection[:address][:region]}"
      - unless subsection[:url].blank?
        %li.url<
          %a{ :href => subsection[:url], :target => "_blank" }><
            = subsection[:url]


  - unless subsection[:achievements].blank?
    %ul.achievements
      - subsection[:achievements].each do |achievement|
        %li= h(achievement)
        
  - unless subsection[:skills].blank?
    %ul.skills
      - subsection[:skills].each do |skill|
        %li.skill{:rel=>'tag'}= h(skill)

  - unless subsection[:summary].blank?
    .summary
      = Maruku.new(subsection[:summary]).to_html
