!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    - name = data.resume.contact.name
    - title = name[:"given-name"][0,1] + '. '+name[:nickname]+' ' + name[:"family-name"]
    - unless data.page[:title].blank?
      - title = title + ' - ' + h(data.page[:title]) 
    %title= title
    %script{ :type => 'text/javascript', :src => '/javascripts/lib/jquery.js'}
    %script{ :type => 'text/javascript', :src => '/javascripts/app.js'}
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
  %body
    .hresume
      #header.vcard.contact
        #contact
          - unless data.resume[:contact][:tel].blank?
            %span.tel= data.resume[:contact][:tel]
          - unless data.resume[:contact][:email].blank?
            %a.email{ :href => "mailto:#{data.resume[:contact][:email]}" }<
              = data.resume[:contact][:email]

          %address.adr<
            - unless data.resume[:contact][:address].blank?
              - address = data.resume[:contact][:address]
            - unless address[:"street-address"].blank?
              %span.street-address= address[:"street-address"]
            - unless address[:"extended-address"].blank?
              %span.extended-address<
                = address[:"extended-address"]+" "
                - unless address[:"post-office-box"].blank?
                  %span.post-office-box>= address[:"post-office-box"]
            - unless address[:locality].blank?
              %span.locality>= address[:locality]
              , 
            - unless address[:region].blank?
              %span.region>= address[:region]+" "
            - unless address[:"postal-code"].blank?
              %span.postal-code= address[:"postal-code"]+" "
            - unless address[:"country-name"].blank?
              %span.country-name= address[:"country-name"]
        #me
          %h1.fn.n#full-name<
            %span.honorific-prefix= name[:"honorific-prefix"]
            %abbr.given-name{:title => name[:"given-name"]}= name[:"given-name"][0,1]+'.'
            %abbr.additional-name{:title => name[:"additional-name"]}= name[:nickname]
            %span.family-name= name[:"family-name"]
          %h2.role<
            = data.resume[:contact][:role]
      = yield